name: Daily Inference Pipeline

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * *' 

permissions:
  contents: write

jobs:
  batch_inference:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Inference Script
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORK_API_KEY }}
        run: python batch_inference_pipeline.py

      - name: Commit and Push Graph
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add docs/images/occupancy_forecast.png
          # Only commit if the file has changed
          git commit -m "Update occupancy forecast graph" || echo "No changes to commit"
          git push